@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(imagens/pessoas-andando-no-parque-no-outono_52683-43804.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 50px;

}

div {
    max-width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 240px;
    background-color: rgba(173, 173, 173, 0.973);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20px;
}

label {
    font-size: 25px;

}

input {
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
    
}

input:focus{
    outline: none;
    
}

#ienviar {
    border: none;
    padding: 5px;
    border-radius: 15px;

}

#ienviar:hover {
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border: none;
}