@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(imagens/pessoas-andando-no-parque-no-outono_52683-43804.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 130px

}

div {
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 270px;
    background-color: rgba(173, 173, 173, 0.973);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    
   
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
   
    }

input {
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    text-align: center;
    
}

#ienviar {
    margin-left:75px;
}