* { 
    padding: 0px;
    margin: 0px;

}


header {
    
    background-color: black;
    padding: 10px;
    height: 100px;
    position: relative;
    

}

 h1 {
   
    text-align: center;
    color: white;
    position: absolute;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
    font-size: 30px;
  

 }

header p {
    color: white;
    text-align: center;
    position: absolute;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%);
  
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

header a:hover {
    text-decoration: underline;

}

.paragrafo {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;

}
    