@charset "UTF-8" ;

* {
    margin:0px;
    padding:0px;
}

html ,body {
    height: 100vh;
    background-color:lightgrey;

}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header h1 {
    padding-top: 50px ;
    font-size: 20px;
  
}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color:white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.image {
    background-color: rgb(106, 106, 106);
    color: white;
}

.image p {
    padding: 10px;
    width: 400px;
    background-color: rgba(142, 142, 142, 0.655);

}


footer {
    background-color: black;
    padding: 10px;
    color:white;
    text-align: center;
}
