header {
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 50px;

}

nav{
    background-color: rgb(180, 180, 180);
    margin: 5px;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.18);
   

}

h1{
    margin: 0px 5px 5px 10px
    
}


a{
    color: white;
    text-decoration: none;
    margin: 10px;
 
}

a:hover{
    font-weight: bold;
    text-decoration:underline ;
}

body{
    background-color: rgb(84, 88, 91);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
}


main{
    margin:10px ;
    background-color: lightgray;
    padding: 5px;
    border-radius: 2px;
    height: 400px;
}
section{
    background-color:rgb(236, 236, 236);
}

h2 {
    text-align: center;
    font-size: 16px;
   
}
p{
    text-align: justify;
}

p#creditosdanoticia {
    text-align: center;
}

span:hover {
    font-weight: bold;

    
}

footer {
    background-color: black;
    text-align: center;
    color:white ; 
    padding: 2px;
    

}

footer > h2 {
    font-size: 10px;
}

