@charset "UTF-8";

/* Mobile First */

* {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html  {
    height: 100vw;
}

body {
    background-image:url(../../imagens/back-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

h1 {
    text-align: center;
}

img#phone {
    display: block;
    margin: auto;
}


img#tablet { display: none; }
img#pc { display: none; }
img#tv { display: none; }
img#print { display: none; }